<style>
      body {
        text-align: center; /* Quirks Mode 를 위한 가운데 정렬 */
      }
      html {
        background: url('../images/backgrounds.jpg') no-repeat center center fixed; /* 가운데 고정에 이미지가 반복되지 않도록 설정 */
        -webkit-background-size: cover; /* 사파리에서의 배경 사이즈 */
        -moz-background-size: cover; /* 파이어폭스에서의 배경 사이즈 */
        -o-background-size: cover; /* 오페라에서의 배경 사이즈 */
        background-size: cover; /* 기본 배경 사이즈 */
      }
      img {
        width:100%;
        height: auto;
      }

        /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  max-width: 40%;
  height: 30%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 10px auto;
  display: flex;
  text-align: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin: 10px auto;
  display: flex;
  top: 50%;
}

.flip-card-inner-no {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  margin: 10px auto;
  display: flex;
  top: 50%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

  .homebutton {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1px 40px 30px 1px;
    text-align: right;;
    max-width :10%;
    height:auto;
  }

  .repeat {
    position: fixed;
    left: 5%;
    bottom: 10%;
    padding: 1px 40px 30px 1px;
    text-align: left;;
    max-width :6%;
    height:auto;
  }

  .parent{
      width: 90%;
      margin: 10px auto;
      display: flex;
      text-align: center;
  }

  .first {
      flex:1;
      width:30%;
      box-sizing: border-box;
  }

  .second{
      flex:1;
      margin: 0px 5%;
      width:30%;
      box-sizing: border-box;
  }

  .third{
      flex:1;
      width:30%;
      box-sizing: border-box;
  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);


  label {

      width: 40%;
      height: 30%;
      position: absolute;
      margin: 10px auto;
      display: flex;
      text-align: center;

  }

  .card {
      position: relative;
      height: 100%;
      width: 100%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
/* 여기 if문은 못하나.. 위에까진 공통적이게 만약 터치했다면 아래 효과 없이, 맞추면 아래 효과와 함께 소리나기.. */
/*      -webkit-transition: all 600ms;
      transition: all 600ms; */
      z-index: 20;
  }


      .card div {
          position: absolute;
          height: 100%;
          width: 100%;
          text-align: center;
          line-height: 200px;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
      }

      .card .back {
          -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
      }


  input {
      display: none;
  }

  :checked + .card {
      transform: rotateY(-180deg);
      -webkit-transform: rotateY(-180deg);
  }

  .my-box {
    position: fixed;
    left: 7%;
    bottom: 5%;
    text-align: left;;
    width:75%;
    max-width :75%;
    height:auto;
    color:white;
    font-size: 2.7em;
    text-shadow: 0 0 10px black;

  }

  #layout_container {
       width: 95%;
       margin: 0px auto;
       padding: 1%;
       border: 1px solid #bcbcbc;
     }
     #layout_header {
       padding: 1%;
       margin: 0px auto;
       margin-bottom: 1%;
       border: 1px solid #bcbcbc;
     }
     #layout_sidebar-left {
       width: 100%
       padding: 3%;
       margin: 0px auto;
       margin-right: 20px;
       margin-bottom: 20px;
       float: left;
       border: 1px solid #bcbcbc;
     }
     #layout_content {
       width: 50%;
       padding: 1%;
       left:50%
       margin: 0px auto;
       margin-bottom: 20px;
       float: left;
       border: 1px solid #bcbcbc;
     }
     #layout_sidebar-right {
       width: 160px;
       padding: 20px;
       margin-bottom: 20px;
       margin: 0px auto;

       float: right;
       border: 1px solid #bcbcbc;
     }
     #layout_footer {
       clear: both;
       padding: 20px;
       margin: 0px auto;

       border: 1px solid #bcbcbc;
     }

     #music {
       display:none;
     }

     .view {
       position: relative;
       flex: 1;
     }

     .stats {
      display: flex;
      justify-content: flex-end;
    }
</style>
/** 배경 이미지 세팅 */
