<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="contextRoot" data-th-attr="content=${#request.contextPath}">
    <meta name="userId" data-th-attr="content=${session.userId}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/flatpickr.min.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/moment-with-locales.min.js}"></script>
    <script th:src="@{/js/flatpickr.js}"></script>
    <script th:src="@{/js-o2o/channel.js}"></script>
    <style>
        body {
            padding-top: 56px;
        }

        .container {
            width: auto;
            max-width: 1280px;
            padding: 0 15px;
        }

        .footer {
            background-color: #f5f5f5;
            text-align: center;
        }


    </style>
</head>
<body class="w-100 h-100">
<div class="d-flex w-100 h-100 mx-auto flex-column">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" th:href="@{/}">Skylife</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link o2o-nav-link" href="#" data-id="1">C/S 정보</a></li>
                <li class="nav-item"><a class="nav-link o2o-nav-link" href="#" data-id="2">상품 정보</a></li>
                <!-- <li class="nav-item">
        <a class="nav-link disabled" th:href="@{/}" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
       -->
            </ul>
            <form th:if="${session.userId} == null" class="form-inline my-2 my-lg-0" id="form-login"
                  th:action="@{/login}"
                  method="get">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
            </form>
            <form th:unless="${session.userId} == null" class="form-inline my-2 my-lg-0" id="form-logout"
                  th:action="@{/api/1.0/logout}" method="post">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h1>Channel Sync</h1>
                <p class="lead"></p>
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" id="sync-date" placeholder="Date" class="form-control"
                               style="text-align: center;">
                    </div>
                    <button class="btn btn-primary mb-2" id="sync-button" type="button">Sync</button>
                </form>
                <br>
                <table id="meal-menu" class="table table-bordered">
                </table>
            </main>

            <form id="sync-request-form">
                <input type="hidden" name="" value=""/>
            </form>
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">&copy; O2O Inc. 2019</span>
        </div>
    </footer>
</div>
</body>
</html>
